*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Open sans', sans-serif;
  color: #656363;
}
h1, h2, h3, h4, h5, h6{
  font-family: Tinos, sans;
  font-weight: 400px;
  color: #D67E35;
}
h1{
  font-size: 80px;
}
h2{
  font-size: 54px;
}
h3{
  font-size: 52px;
}
h4{
  font-size: 26px;
}
h5{
  font-size: 24px;
}
h6{
  font-size: 20px;
}
.container{
  max-width: 1050px;
  margin: 0 auto;
}
.button{
  background-color: #FF7400;
  color: white;
  font-size: 14px;
}
.button-orange{
  background-color: #D67E34;

}
.nav{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav .nav-item .nav-link{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}
.header{
  background-image: url(nav-image.png);
  width: 1440px;
  height: 800PX;
}
.korzina{
  width: 20px;
}